.add-catalog {
  padding-top: 12px;
  padding-bottom: 36px;
  align-items: center;
}

.add-catalog__title {
  font-family: @font-family--oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @color-black;
  position: relative;
  margin-bottom: 33px;
  text-align: left;
  background-color: white;
  display: inline-block;
  padding-right: 20px;
  margin-right: 34px;
}

.add-catalog__title::before {
  content: "";
  z-index: -3;
  width: 300px;
  height: 3px;
  position: absolute;
  top: 58%;
  left: 0;
  background-color: @color-green;
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.add-catalog__item {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  text-decoration: none;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid @color-border;
  width: 280px;
}

.add-catalog__item:last-child {
  border-bottom: 1px solid @color-border;
}

.add-catalog__promo {
  width: 280px;
  height: 289px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
  text-align: center;
  z-index: 1;
}

.add-catalog__promo-img {
  background-color: @color-green;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -2;
}

.add-catalog__promo::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 61px;
  z-index: 4;
  margin-top: 65px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.add-catalog__promo-text {
  font-family: @font-family--arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-white;
  text-align: center;
  width: 169px;
  padding-top: 172px;
}

@media (min-width: @tablet-width) {
  .add-catalog {
    padding-top: 13px;
    padding-bottom: 77px;
  }

  .add-catalog__title {
    font-size: 36px;
    line-height: 36px;
    align-self: flex-start;
    margin-top: -2px;
    padding-left: 37px;
    padding-right: 39px;
  }

  .add-catalog__title::after {
    content: " ";
    position: absolute;
    top: 58%;
    right: 100%;
    width: 30px;
    height: 3px;
    background-color: @color-green;
    z-index: -2;
  }

  .add-catalog__title::before {
    width: 740px;
  }

  .add-catalog__list {
    padding-top: 47px;
  }

  .add-catalog__item {
    width: 708px;
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 24px;
    padding-bottom: 29px;
    flex-direction: row;
    justify-content: space-between;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
  }

  .add-catalog__promo {
    width: 708px;
    height: 200px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 67px;
  }

  .add-catalog__promo::before {
    bottom: 73px;
    left: 90px;
  }

  .add-catalog__promo-img {
    top: 0;
  }

  .add-catalog__promo-text {
    text-align: left;
    padding-top: 6px;
    margin-left: 73px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog {
    padding-top: 19px;
    padding-bottom: 86px;
  }

  .add-catalog__title {
    margin-left: -36px;
  }

  .add-catalog__title::after {
    width: 70px;
  }

  .add-catalog__title::before {
    width: 1370px;
  }

  .add-catalog__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1300px;
    padding-top: 45px;
  }

  .add-catalog__list {
    padding: 0 40px;
  }

  .add-catalog__item {
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    border-left: none;
    border-right: none;
  }

  .add-catalog__promo {
    position: relative;
    width: 245px;
    height: 289px;
    margin-top: 1px;
    right: 40px;
    flex-direction: column;
  }

  .add-catalog__promo::before {
    top: 2px;
    left: 95px;
  }

  .add-catalog__promo-text {
    text-align: center;
    margin-left: 1px;
    padding-top: 96px;
  }
}
