.add-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-catalog__title {
  padding: 28px 0 34px 20px;
}

.add-catalog__list {
  padding: 0 20px;
  margin: 0;
  list-style: none;
}

.add-catalog__item {
  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }
}

.add-catalog__promo {
  min-height: 289px;
  margin: 38px 20px;
  color: @txt-color-white;
  background-color: @bg-color-green;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 280px 289px;
}

.add-catalog__promo-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 170px;
  margin: 0 auto;
  padding-top: 190px;
}
