.add-catalog__title {
  font-family: @font-family--oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
}

.add-catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.add-catalog__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 7px;
  border-top: 1px solid @color-border;
  width: 280px;
}

.add-catalog__promo {
  width: 280px;
  height: 289px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @color-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  margin-top: 55px;
  z-index: 1;
}

.add-catalog__promo::before {
  content: "";
  position: relative;
  width: 56px;
  height: 61px;
  z-index: 4;
  margin-top: 65px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.add-catalog__promo-text {
  font-family: @font-family--arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-white;
  text-align: center;
  width: 159px;
  margin-top: 65px;
}

@media (min-width: @tablet-width) {
  .add-catalog {
    width: 710px;
  }

  .add-catalog__title {
    font-size: 36px;
    line-height: 36px;
  }

  .add-catalog__list {
    padding-left: 37px;
    padding-top: 47px;
  }

  .add-catalog__promo {
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-top: 75px;
    flex-direction: row;
    justify-content: space-around;
  }

  .add-catalog__promo::before {
    bottom: 35px;
    right: 33px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog {
    margin: 0;
  }

  .add-catalog__list {
    width: 1450px;
    padding-left: 0;
  }

  .add-catalog__promo {
    position: relative;
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin: 0;
    right: 0;
    top: 50px;
    flex-direction: column;
  }
}
