.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: @txt-color-main;
  background-color: @bg-color-main;
  font-family: "OswaldRegular", "Arial", sans-serif;
  margin: 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 60px;
  margin: 22px 0 30px;
}

.advantages__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @txt-color-darkgray;
  margin-left: 80px;
  margin-bottom: 27px;
}
