.advantages__title {
  font-family: @font-family--oswald;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
}

.advantages__text {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @color-gray;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    font-size: 60px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }
}
