.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  font-family: @font-family--oswald;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
}

.advantages__text {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @color-gray;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .advantages__title {
    font-size: 60px;
    width: 708px;
  }

  .advantages__text {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    justify-content: space-between;
  }

  .advantages__title {
    width: 1220px;
  }
}
