.burger {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: none;
  top: 10px;
  background-color: transparent;
}

.burger::after,
.burger::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 27px;
  background-color: #222222;
  left: -4px;
}

.burger::after {
  transform: rotate(45deg);
}

.burger::before {
  transform: rotate(-45deg);
}

.burger--no-js {
  display: none;
}

@media (min-width: @tablet-width) {
  .burger {
    display: none;
  }
}
