.button {
  background-color: @color-green;

  &:hover,
  &:focus {
    background-color: @color-lightgreen;
  }

  &:active {
    background-color: @color-lightgreen;
    color: rgba(255, 255, 255, 0.3);
  }
}
