.catalog {
  width: 320px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
}

.catalog__item {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  text-decoration: none;
  border-top: 1px solid #ededed;
}

.catalog__title {
  font-family: @font-family--oswald;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 29px;
  margin: 0;
  margin-right: 20px;
  align-self: center;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: @tablet-width;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__title {
    font-size: 60px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .catalog__item {
    padding-bottom: 40px;
    margin-bottom: 33px;
    width: 322px;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__item {
    border: none;
    margin: 0;
    margin-right: 80px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 243px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}
