.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: @txt-color-main;
  background-color: @bg-color-lightgray;
  font-family: "OswaldRegular", "Arial", sans-serif;
}

.categories__wrapper {
  margin: 20px;
  padding: 20px;
}

.categories__title {
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  padding: 9px 10px 17px 71px;
  text-transform: uppercase;
}

.categories__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: @txt-color-darkgray;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;
}

.categories__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 7px;
}
