.categories {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.categories__wrapper {
  color: @color-black;
  background-color: @color-lightgray;
  min-width: 280px;
  min-height: 266px;
  margin-bottom: 20px;
}

.categories__title {
  font-family: @font-family--oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @color-black;
  text-align: center;
  text-transform: uppercase;
}

.categories__text {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @color-gray;
  text-align: left;
}

.categories__link {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @color-black;
  text-align: center;
  text-transform: uppercase;

  // &:hover,
  // &:focus {
  //   удлинение стрелки
  // }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .categories__wrapper {
    width: 708px;
    margin-bottom: 20px;
    min-height: 372px;
  }

  .categories__title {
    font-size: 36px;
    text-align: left;
  }

  .categories__text {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__wrapper {
    width: 570px;
    margin-bottom: 20px;
  }
}
