.cooperation__title {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
  text-transform: uppercase;
}

.cooperation__adress {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @color-gray;
  text-align: left;
}
