.demo {
  background-color: @color-lightgray;
}

.demo__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 10px;
}

.demo__title {
  font-family: @font-family--oswald;
  font-size: 36px;
  text-align: left;
  line-height: 60px;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 23px;
}

.demo__text {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @color-gray;
  width: 270px;
}

.demo__bold {
  text-transform: uppercase;
  font-family: @font-family--oswald;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.demo__small {
  font-family: @font-family--arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: @color-gray;
  width: 57px;
}

.demo__cost {
  font-family: @font-family--oswald;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 36px;
}

.demo__cat {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  color: @color-black;
  background-color: transparent;
  border: none;
  padding: 0;
  padding-bottom: 5px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.4);
  }

  &:active {
    border: none;
  }
}

.demo__features {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.demo__description {
  position: relative;
  width: 124px;
  height: 52px;
  border: 1px solid #cdcdcd;
  border-radius: 5%;
}

.demo__description-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90px;
  height: 60px;
  background-color: @color-lightgray;
  left: 16px;
  top: 10px;
}

.demo__indicator {
  width: 200px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-left: 63px;
  padding-bottom: 31px;
}

.demo__indicator::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 8px;
  border-radius: 16px;
  box-shadow: 0 0 0 1px #cdcdcd;
  background-image: linear-gradient(to left, @color-white, @color-white 50%, @color-green 50%, @color-green);
  left: 60px;
  top: 5px;
}

.demo__img {
  padding-top: 9px;
  position: relative;
}

.demo__img--after {
  display: none;
}

.demo__point {
  display: none;
}

@media (min-width: @tablet-width) {
  .demo {
    position: relative;
    background-color: transparent;
    width: 100%;
    padding-bottom: 32px;
    padding-top: 15px;
  }

  .demo__inner {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-image: linear-gradient(to right, #f2f2f2 0, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);
  }

  .demo__wrapper {
    width: @tablet-width;
    position: relative;
    padding-top: 1px;
  }

  .demo__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-top: 29px;
    width: 700px;
  }

  .demo__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
    width: 700px;
  }

  .demo__bold {
    font-size: 30px;
    line-height: 37px;
    margin-top: 8px;
  }

  .demo__small {
    font-size: 14px;
    line-height: 14px;
    width: 170px;
    margin-top: 10px;
  }

  .demo__cat {
    font-size: 20px;
    line-height: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
  }

  .demo__description {
    width: 162px;
    height: 72px;
    margin-right: 40px;
  }

  .demo__description-wrapper {
    width: 130px;
    height: 70px;
    background-color: @color-white;
  }

  .demo__features {
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 0;
    width: 480px;
    padding-left: 0;
  }

  .demo__cost {
    font-size: 20px;
    line-height: 30px;
    width: 195px;
    position: absolute;
    text-align: right;
    right: 30px;
    top: 275px;
    margin-top: 9px;
  }

  .demo__img {
    margin-top: 0;
    width: auto;
    height: auto;
    top: 80px;
    left: 45px;
  }

  .demo__indicator {
    justify-content: space-between;
    width: 571px;
    margin-left: 97px;
    margin-top: 96px;
    margin-bottom: 5px;
  }

  .demo__indicator::after {
    content: "";
    width: 435px;
    height: 6px;
    border-radius: 2.5px;
    box-shadow: none;
    background-image: none;
    background-color: #cdcdcd;
    left: 70px;
    top: 8px;
  }

  .demo__point {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 12px white,
      0 5px 2px rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    cursor: pointer;
    z-index: 3;
    background-color: @color-green;
    right: 269px;
    top: -6px;
    transition: all 0.5s ease;

    &:focus,
    &:hover {
      box-shadow: inset 0 0 0 12px white,
        0 5px 3px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid @color-green;
      box-shadow: inset 0 0 0 11px white,
        0 5px 4px rgba(0, 0, 0, 0.3);
    }
  }

  .demo__live {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .demo {
    position: relative;
    background-color: transparent;
    padding-top: 0;
  }

  .demo__inner {
    z-index: -3;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2 75%, #eaeaea 25%, #eaeaea);
  }

  .demo__wrap-desktop {
    width: @desktop-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 40px;
    margin: 0 auto;
  }

  .demo__wrapper {
    width: 785px;
    padding: 0;
  }

  .demo__wrapper--width-live {
    width: 435px;
    padding-top: 17px;
  }

  .demo__title {
    margin-top: 10px;
  }

  .demo__text {
    width: 432px;
    margin-top: 146px;
  }

  .demo__features {
    margin-top: 67px;
  }

  .demo__cost {
    width: 390px;
    position: static;
    margin-top: 55px;
    text-align: left;
  }

  .demo__indicator {
    margin-left: 212px;
    margin-top: 2px;
  }

  .demo__cost-span {
    margin-left: 57px;
  }

  .demo__img {
    top: -37px;
    left: 134px;
  }

  .demo__point {
    right: 267px;
    top: -6px;
  }

  .demo__bold {
    margin-top: 0;
    padding-top: 5px;
  }

  .demo__description-wrapper {
    background-color: @color-lightgray;
  }

  .demo__small {
    margin-top: 12px;
  }

  .demo__description {
    margin-right: 39px;
  }
}
