.fields__label {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
  text-transform: uppercase;
}

.fields__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.fields__title {
  font-family: @font-family--oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
}

.fields__btn {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-white;
  text-align: center;
  text-transform: uppercase;
}

.fields__footnote {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @color-gray;
  text-align: center;
}
