.fields__cat-info {
  padding-bottom: 5px;
}

.fields__wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
  position: relative;
}

.fields__title {
  font-family: @font-family--oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
  position: relative;
  display: inline-block;
  background-color: white;
  padding-right: 20px;
  max-width: 202px;
}

.fields__title::before {
  content: "";
  z-index: -3;
  width: 300px;
  height: 3px;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: @color-green;
}

.fields__contacts {
  margin-top: 27px;
}

.fields__contact-wrapper {
  margin-top: 35px;
}

.fields__comments {
  margin-top: 13px;
}

.fields__label {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
  margin-right: 15px;
}

.fields__text {
  position: relative;
  border: 1px solid rgba(205, 205, 205, 0.5);
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @color-gray;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  outline: none;

  &::placeholder {
    color: @color-gray;
    text-transform: uppercase;
  }
}

.fields__text:hover {
  border-color: rgba(205, 205, 205, 1);
}

.fields__text:focus,
.fields__text:active {
  border-color: @color-gray;
}

.fields__text:focus + svg,
.fields__text:active + svg {
  fill: @color-green;
}

.fields__text:not(:placeholder-shown):invalid {
  border-color: @color-error;
}

.fields__text:not(:placeholder-shown):invalid + svg {
  fill: @color-error;
}

.fields__text--textarea {
  margin-top: 35px;
  min-height: 150px;
  padding-top: 12px;
}

.fields__icon-mail {
  content: "";
  position: absolute;
  top: 15px;
  right: 16px;
  width: 17px;
  height: 13px;
}

.fields__icon-phone {
  content: "";
  position: absolute;
  top: 10px;
  right: 13px;
  width: 20px;
  height: 20px;
}

.fields__program-type {
  border: 1px solid #ededed;
}

.fields__list {
  margin-top: 20px;
  margin-bottom: 7px;
  padding: 0;
  list-style: none;
}

.fields__radio {
  margin-right: 15px;
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 19px;
  cursor: pointer;
}

.fields__radio-input {
  position: absolute;
}

.fields__radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ededed;
  border-radius: 50%;
}

.fields__radio::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 9px;
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: @color-green;
}

.fields__radio-input:checked + .fields__radio::after {
  display: block;
}

.fields__add {
  margin-top: 28px;
}

.fields__title--add {
  margin-top: 15px;
  margin-bottom: 12px;
}

.fields__list--add {
  border: none;
}

.fields__item {
  margin-top: 10px;
  margin-bottom: 13px;
}

.fields__check {
  margin-right: 15px;
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.fields__check::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ededed;
}

.fields__check-input {
  display: none;
}

.fields__check-input:checked + .fields__check::before {
  background-image: url("/img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 17px;
}

.fields__btn {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-white;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  margin-left: 22px;
  margin-top: 23px;
}

.fields__footnote {
  font-family: @font-family--arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @color-gray;
  text-align: center;
  margin-top: 21px;
  padding-left: 85px;
}

@media (min-width: @tablet-width) {
  .fields__label {
    font-size: 20px;
    line-height: 20px;
  }

  .fields__text {
    font-size: 20px;
    line-height: 20px;
    padding-left: 22px;
  }

  .fields__cat-info {
    margin-bottom: 45px;
    padding-left: 6px;
  }

  .fields__program-type {
    width: 630px;
  }

  .fields__radio {
    padding-left: 79px;
    padding-top: 9px;
    padding-bottom: 24px;
  }

  .fields__radio::before {
    left: 20px;
    top: 0;
    width: 41px;
    height: 41px;
  }

  .fields__radio::after {
    left: 30px;
    top: 10px;
    width: 18px;
    height: 18px;
  }

  .fields__contacts {
    margin-top: 74px;
  }

  .fields__title {
    font-size: 36px;
    line-height: 36px;
    max-width: 600px;
    padding-left: 32px;
    padding-right: 42px;
    margin-left: -30px;
    margin-bottom: 37px;
  }

  .fields__title::after {
    content: "";
    z-index: -3;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 15px;
    right: 100%;
    background-color: @color-green;
  }

  .fields__title::before {
    width: 740px;
  }

  .fields__contact-wrapper {
    padding-left: 4px;
  }

  .fields__icon-mail {
    top: 23px;
    right: 20px;
  }

  .fields__icon-phone {
    top: 20px;
    right: 17px;
  }

  .fields__comments {
    margin-top: 47px;
    margin-bottom: 37px;
  }

  .fields__text--textarea {
    margin-top: 42px;
    min-height: 171px;
  }

  .fields__list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 12px;
    padding-left: 12px;
  }

  .fields__list--add {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 13px;
    padding-left: 13px;
  }

  .fields__item {
    width: 274px;
    margin-bottom: 30px;
  }

  .fields__check::before {
    left: -13px;
    top: -3px;
    width: 40px;
    height: 40px;
  }

  .fields__bottom-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .fields__btn {
    width: 283px;
    font-size: 20px;
    align-self: flex-start;
    margin-left: 4px;
    margin-top: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .fields__footnote {
    font-size: 16px;
    margin-top: 34px;
    padding-left: 61px;
  }
}

@media (min-width: @desktop-width) {
  .fields__label {
    margin-right: 19px;
  }

  .fields__cat-info {
    width: 579px;
    padding-left: 0;
    padding-top: 6px;
  }

  .fields__text {
    padding-bottom: 11px;
  }

  .fields__program-type {
    width: 570px;
    margin-top: 8px;
    padding-top: 25px;
    padding-left: 7px;
    padding-bottom: 4px;
  }

  .fields__list {
    margin: 0;
    padding: 0;
  }

  .fields__title {
    padding-left: 46px;
    margin-left: -48px;
  }

  .fields__title::after {
    width: 70px;
  }

  .fields__title::before {
    width: 1370px;
  }

  .fields__contacts {
    margin-top: 0;
  }

  .fields__contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1220px;
  }

  .fields__wrap--contacts {
    width: 570px;
    padding-top: 3px;
  }

  .fields__icon-mail {
    right: 19px;
  }

  .fields__icon-phone {
    right: 19px;
  }

  .fields__comments {
    margin-top: 48px;
    margin-bottom: 39px;
  }

  .fields__item {
    width: 234px;
    margin-top: 22px;
    margin-left: 15px;
  }

  .fields__btn {
    width: 571px;
    margin-left: 0;
    margin-top: 37px;
  }

  .fields__footnote {
    margin-top: 53px;
    margin-left: 0;
    padding-left: 82px;
  }
}
