.food-program__wrap {
  width: 320px;
  position: relative;
}

.food-program__title {
  font-family: @font-family--oswald;
  font-size: 36px;
  font-weight: 400;
  color: @color-white;
  line-height: 36px;
  text-align: center;
  margin: 26px 0;
}

.food-program__slogan {
  font-family: @font-family--oswald;
  font-size: 14px;
  font-weight: 400;
  color: @color-white;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.food-program__img {
  position: absolute;
  bottom: 44px;
  z-index: -1;
}

.food-program__link {
  font-family: @font-family--oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 280px;
  padding: 12px 0;
  margin-top: 134px;
}

@media (max-width: @mobile-width-only) {
  .food-program__background-wrap {
    min-height: 305px;
    background-color: @color-lightgreen;
    position: relative;
    z-index: -3;
  }

  .food-program__background-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
    z-index: -2;
  }
}

@media (min-width: @tablet-width) {
  .food-program {
    min-height: 812px;
    margin-bottom: 20px;
  }

  .food-program__wrap {
    width: @tablet-width;
    padding-left: 118px;
    padding-top: 20px;
  }

  .food-program__background-img {
    display: none;
  }

  .food-program__title {
    font-size: 60px;
    line-height: 60px;
    color: @color-black;
    text-align: left;
    width: 500px;
  }

  .food-program__slogan {
    font-size: 20px;
    line-height: 20px;
    color: @color-black;
    text-align: left;
    padding-top: 15px;
  }

  .food-program__link {
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 27px;
    margin-bottom: 20px;
    padding: 16px 0;
  }

  .food-program__img {
    left: 29px;
    bottom: auto;
  }
}

@media (min-width: @desktop-width) {
  .food-program {
    min-height: 605px;
  }

  .food-program__background-image {
    height: 696px;
    width: 100%;
    background-image: linear-gradient(to right, @color-white, @color-white 50%, @color-lightgreen 50%, @color-lightgreen);
    position: absolute;
    top: -14px;
    z-index: -3;
  }

  .food-program__background-img {
    position: absolute;
    display: block;
    top: 0;
    right: -69px;
    z-index: -2;
  }

  .food-program__wrap {
    width: @desktop-width;
  }

  .food-program__title {
    padding-top: 50px;
  }

  .food-program__img {
    left: 490px;
    top: -260px;
  }

  .food-program__link {
    margin-top: 32px;
    margin-bottom: 20px;
    padding: 15px 0;
  }
}
