.food-programm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 480px;
  margin-bottom: 22px;
  background-color: @bg-color-main;
  font-family: "OswaldRegular", "Arial", sans-serif;
  text-align: center;
}

.food-programm__wrap {
  min-height: 305px;
  color: @txt-color-white;
  background-color: @bg-color-green;
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 320px 305px;
}

.food-programm__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 25px 0;
}

.food-programm__slogan {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
}

.food-programm__link {
  display: block;
  padding: 11px 0;
  margin: 135px auto 22px auto;
}
