.page-footer {
  background-color: @color-lightgray;
  width: 100%;
}

.page-footer__wrap {
  justify-content: center;
  color: @color-gray;
  text-align: center;
}

.page-footer__logo {
  width: 130px;
  margin: auto;
  margin-bottom: 18px;
  margin-top: 27px;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}

.page-footer__academy-link {
  display: flex;
  justify-content: space-between;
  font-family: @font-family--arial;
  color: @color-gray;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  padding: 0;
  text-decoration: none;
  margin-top: 15px;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__academy-title {
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

.page-footer__academy-logo {
  margin-right: -5px;
}

.page-footer__academy-logo path {
  fill: #666666;

  &:focus,
  &:hover {
    fill: @color-lightgreen;
  }

  &:hover {
    fill: @color-green;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }

  .page-footer__logo {
    width: auto;
    margin-left: 0;
    margin-right: 28px;
  }

  .page-footer__academy-link {
    align-items: center;
    margin-top: 0;
  }

  .page-footer__academy-title {
    padding-top: 0;
    margin-right: 16px;
    margin-left: 108px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrap {
    width: 1300px;
    padding-top: 26px;
  }

  .page-footer__logo {
    margin-right: 24px;
  }

  .page-footer__academy-logo {
    margin-right: -7px;
  }
}
