.product__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @txt-color-main;

  &--font {
    line-height: 18px;
    color: #222222;
  }
}

.product__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @txt-color-darkgray;
  margin: 0;
}

.product__price {
  text-transform: uppercase;
}

.product__button {
  padding: 11px 0;
  margin: 24px 20px;

  &--margin {
    margin: 24px 0;
  }
}
