.product__title {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-black;
  text-align: left;
  text-transform: uppercase;
}

.product__title--font {
  line-height: 16px;
}

.product__table {
  font-family: @font-family--arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @color-gray;
  text-align: left;
}

.product__table--font {
  font-size: 14px;
  line-height: 14px;
}

.product__button {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-white;
  text-align: left;
  text-transform: uppercase;
}
