.program {
  align-items: center;
  padding-bottom: 33px;
}

.program__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}

.program__fields {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .program__form {
    margin-left: 40px;
    margin-right: 40px;
  }

  .program__fields {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .program__form {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  .program__fields {
    width: 1220px;
  }
}
