.programm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @txt-color-main;
  background-color: @bg-color-main;
}

.programm__title {
  font-size: 36px;
  line-height: 60px;
  margin: 27px 0 30px;
  padding: 0 20px;
}

.programm__text {
  margin: 8px 0 40px;
  width: 240px;
  text-transform: uppercase;
  padding: 0 20px;
}
