.program {
  align-items: center;
  padding-bottom: 32px;
}

.program__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}

.program__fields {
  border: none;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .program {
    padding-bottom: 72px;
  }

  .program__form {
    margin-top: 24px;
    align-items: flex-start;
  }

  .program__fields {
    width: 635px;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .program {
    padding-bottom: 82px;
  }

  .program__form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .program__fields {
    width: 1220px;
    padding: 0;
  }
}
