.show-more__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 68px;
  text-transform: uppercase;
  text-align: center;
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @txt-color-darkgray;
}

.show-more__button {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 280px;
  padding: 11px 0;
  margin: 24px 20px;
  border: none;
  background-color: @bg-color-lightgray;
  color: @txt-color-darkgray;

  &:focus,
  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
