.show-more {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 206px;
  border-bottom: 1px solid #ededed;
}

.show-more::before {
  content: "";
  background-image: url("/img/icon-plus-mobile.svg");
  width: 31px;
  height: 31px;
  position: relative;
  margin-top: 27px;
}

.show-more__title {
  font-family: @font-family--oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 20px;
}

.show-more__text {
  font-family: @font-family--arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @color-gray;
  text-align: center;
  margin-bottom: 22px;
  margin-top: 8px;
}

.show-more__button {
  width: 280px;
  color: @color-gray;
  background-color: @color-lightgray;

  &:hover,
  &:focus {
    background-color: #ededed;
  }

  &:active {
    background-color: #ededed;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .show-more {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid @color-lightgray;
    align-items: center;
    margin-top: 83px;
    position: relative;
  }

  .show-more::before {
    position: absolute;
    background-image: url("/img/icon-plus.svg");
    width: 61px;
    height: 61px;
    top: 28px;
  }

  .show-more__title {
    position: absolute;
    width: 135px;
    font-size: 20px;
    line-height: 20px;
    top: 146px;
  }

  .show-more__text {
    width: 170px;
    position: absolute;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    top: 223px;
  }

  .show-more__button {
    width: 249px;
    padding: 13px 0;
    background-color: @color-lightgray;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .show-more {
    margin-top: 85px;
  }

  .show-more__button {
    width: 169px;
  }
}
