html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @txt-color-main;
  background-color: @bg-color-main;
}

@media (min-width: @desktop-width) {
  body {
    margin: 0 auto;
    width: 1300px;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
